* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    /* background-image: linear-gradient(
            to top, #ffda77, #ffa45b); */
    background-image: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    color: #c9cbff;
}
